.header{
    &__container{
        display: flex;
        justify-content: center;
        width:100vw;
        
    }
    &__title{
        width:100%;
        text-align: center;
        font-family: "Roboto";
        font-size: 400;
    }
    
}