.slider {
  &__container {
    font-size: 3rem;
    font-family: "Roboto";
  }
  &__first{
    font-size: 5rem;
    height: 100vh;
    width: 100vw;
    text-align: center;
    &-credits{
        position: absolute;
        width: 20rem;
        right: 0;
        bottom: 0;
        font-size: 2.5rem;
    }
  }
  &__second{
    width: 64rem;
  }
}
